header {
  .container-fluid {
    a {
      font-size: 15px;
    }
  }
}

.text-color {
  color: rgb(160, 160, 160);
}

.text-none:hover {
  color: rgb(255, 255, 255);
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.fa-square-pen {
  font-size: 30px;
  margin-top: 3px;
}

.fa-square-pen:hover {
  color: rgb(52, 52, 52);
}

.fa-square-minus {
  font-size: 30px;
  margin-top: 3px;
  margin-left: 5px;
}

.fa-square-minus:hover {
  color: rgb(52, 52, 52);
}

.tab-none {
  display: none;
}

@media screen and (min-width: 992px) {
  .navbar-toogler-xxl {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .text-none {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tab-none {
    display: table-cell;
  }
  .under-line {
    width: 600px;
  }
}
